/* Hidden by default on mobile devices */
.ai-engine-chat-button {
  display: none;
}

/* Show and style button on desktop viewports only */
@media (min-width: 993px) {
  .ai-engine-chat-button {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1%;
    z-index: 750;
  }

  .ai-engine-chat-button a {
    color: #e5efec;
    background-color: #00356B;
    padding: 1em;
    border-radius: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
    border: 0.125rem solid #e5efec;

    &:focus,
    &:hover {
      color: #ffffff;
      background-color: #286DC0;
      outline-color: #286DC0;
    }
  }

  .ai-engine-chat-button svg {
    margin-right: 0.25em;
    font-size: 3.15rem;
    width: 3.75rem;
  }

  .ai-engine-chat-button span {
    max-width: 5rem;
    line-height: 1.4;
  }

  /* Adjust position when ed11y accessibility checker is present */
  body:has(.ed11y-element) .ai-engine-chat-button {
    bottom: calc(1% + 60px);
  }
}
